# Server Configuration
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

# Database Configuration
DATABASE_URL=your-db-url

# Arcjet
ARCJET_KEY=your-arcjet-key

# Security Configuration
CORS_ORIGIN=https://yourdomain.com